@font-face {
    font-family: 'Pretendard Variable';
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 100 900; /* 가변 폰트의 범위 */
    font-style: normal;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    --border-color: #000000;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: 'Pretendard Variable', sans-serif; /* 기본 폰트 설정 */
    font-size: 1.8dvw;
    font-weight: 500;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-weight: 500;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}


/* Layout */
html {
    height: 100%;
}
body {
    height: 100%;
    display: grid;
    grid-template-areas:
            "header header header header"
            "main main main nav"
            "footer footer footer footer"
    ;
    grid-template-columns: 1fr 1fr 1fr 20dvw;
    grid-template-rows: 4dvh 1fr 4dvh;
}
header {
    grid-area: header;
    padding: 0 1rem;
    border-bottom: 1px solid var(--border-color);
}
nav {
    grid-area: nav;
    overflow-y: auto; /* 수직 스크롤 허용 */
    border-left: 1px solid var(--border-color);
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    padding: 0 1rem;
    border-top: 1px solid var(--border-color);
}

/* 카드 선택 창 */
.list-desc {
    font-size: 1.5dvw;
    font-weight: 700;
    padding: 1rem;
}
ul.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
li.list-item {
}
li.list-item > button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease; /* 부드러운 애니메이션 효과 */
    padding: 0 1rem;
    font-size: 1.6dvw;
}
li.list-item > button:hover {
    cursor: pointer;
    transform: translateX(5px); /* 우측으로 살짝 움직임 */
}

/* 테이블 */
.table {
    height: 100%;
}
.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* 부드러운 애니메이션 효과 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 기본 그림자 */
    border-radius: 4px;
}
.card:hover {
    cursor: pointer;
    transform: translateY(-5px); /* 위로 살짝 움직임 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* hover 시 더 강한 그림자 */
}

/* 전체 삭제 버튼 */
.remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    width: max(4dvw, 4rem);
    height: max(4dvw, 4rem);
    border-radius: 100%;
    background-color: whitesmoke;
    transition: transform 0.2s ease; /* 부드러운 애니메이션 효과 */
}
.remove-btn:hover {
    cursor: pointer;
    transform: translateY(-5px); /* 위로 살짝 움직임 */
}